*{
    margin:0;
    padding:0;
    border:0;
    background-color: #2c2c32;
    font-family:courier, courier new, serif;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.aspectwrapper{
    display: inline-block;
    width: 94%;
    max-width: 800px;
    position: relative;  
}
.aspectwrapper:after {
    padding-top: 100%; /* percentage of containing block _width_ */
    display: block;
    content: '';
  }
.board{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    display: grid;
}
.title{
    color:white;
    padding:40px 0 20px 0;
}
.options{
    max-width:94%;
    display: flex;
    flex-wrap: wrap;
    padding:0 0 10px 0;
    justify-content: center;
    align-items: center;
}
#sideDisplay{
    padding: 0 10px 0 10px;
    color:white;

}
.sliderwrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button {
    color: white;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;

  }
#random{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button:hover {opacity: 1}

.button:active {
    color:#2c2c32;
}

.random{
    color: white;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
}